.button a {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    max-width: 250px;
    background: #eee;
    margin: auto;
    padding: 10px 30px;
    font-family: "Noto Sans Japanese";
    font-weight: 500;
    text-align: center;
    line-height: 1.8;
    text-decoration: none;
    outline: none;
    transition: ease .2s;
}

.button a span {
    position: relative;
    z-index: 3;
    color:#333;
}

.button a:hover span{
    color:#fff;
}

.bgleft:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background:#333;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.bgleft:hover:before{
  transform-origin:left top;
  transform:scale(1, 1);
}

body{
    vertical-align:middle; 
    padding: 50px 0;
    text-align: center;
}